.page {
    width: 100%;
    height: 92vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
* {
    user-select: none;
}
body {
    overflow: hidden;
    background-image: url("/Assets/cute-seamless-pattern-with-blue-computer-elements-white_257845-1535.webp");
    background-size: 355px;
}