.page {
    width: 100%;
    height: 92vh;
    align-items: center;
    justify-content: center;
}
* {
    user-select: none;
}
body {
    overflow: hidden;
    /* background-image: url("/Assets/cute-seamless-pattern-with-blue-computer-elements-white_257845-1535.webp");
    background-size: 355px;
    background-color: white; */
}
* {
    cursor: url('/Assets/cursor.png'),default !important;
}
*:hover {
    cursor: url('https://cdn.custom-cursor.com/db/15051/32/starter-northern-lights-pointer.png'),pointer !important;
}

.loginImage {
    float: right;
    height: 100vh;
    width: 60%;
    object-fit: cover;
}