block {
    background-color: rgb(0, 132, 255);
    color: white;
    border-radius: 5px;
    cursor:move;
    position: relative;
    padding: 10px;
    width: fit-content;
    height: 30px;
}
block[light] {
    width: 175px;
    background-color: rgba(0, 132, 255, 0.426);
}
block[red] {
    background-color: rgb(255, 0, 0);
}
block[green] {
    background-color: rgb(0, 255, 85);
}
block[event] {
    border-radius: 15px 15px 0px 0px;
}
block[orange] {
    background-color: rgb(255, 119, 0);
}
block[cyan] {
    background-color: rgb(0, 255, 187);
}
block[pink] {
    background-color: rgb(255, 0, 247);
}
block[violet] {
    background-color: rgb(187, 0, 255);
}
block[gray] {
    background-color: rgb(60, 60, 60);
}
block[black] {
    background-color: rgb(0, 0, 0);
}
block[granat] {
    background-color: rgb(25, 0, 255);
}
block[reporter] {
    border-radius:25px;
}
input {
    border: none;
    margin-left: 10px;
    padding: 5px;
    text-align: center;
    border-radius: 30px;
    border: solid rgb(235, 235, 235) 1px;
}
input[num] {
    width: 30px;
}
input[text] {
    width: 50px;
}
select {
    border: none;
    border-radius: 5px;
    width: 90px;
    padding: 5px;
    background-color: rgb(255, 255, 255);
}