
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@500&display=swap%27');

body, html {
    background-color: rgb(228, 228, 228);
}
#project {
    border: outset  5px;
    background-color: white;
    border-radius: 5px;
    margin: 10px;
    -webkit-box-shadow: 8px 8px 24px 0px rgb(255, 255, 255);
    -moz-box-shadow: 8px 8px 24px 0px rgb(255, 255, 255);
    box-shadow: 8px 8px 24px 0px rgb(255, 255, 255);
}
.blocks{
    width: 400px;
    height: 800px;
    float: left;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
}
#menu {
    width: 950px;
    height: 794px;
    float: left;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    overflow: scroll;
}
.category{
    background-color: rgb(0, 166, 255);
    text-align: center;
    line-height: 50px;
    color:white;
    width: 50%;
    height: 50px;
    transition: 0.1s;
}
.category:hover {
    background-color: rgb(0, 204, 255);
    transition: 0.1s;
}
.category.left {
    float: right;
    border-top-right-radius: 10px;
}
.category.right {
    float: left;
    border-top-left-radius: 10px;
}
#debug {
    display: flex;
    align-items: center;
    padding: 5px;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    border: solid;
    border-color: rgb(0, 124, 249);
    margin: 10px;
    height: 35px;
}
#play {
    filter:brightness(100%);
    transition: 0.3s;
}
#play:hover {
    filter: brightness(120%);
    transition: 0.3s;
    cursor: pointer;
}
#app {
    display: flex;
    align-items: center;
    justify-content: center;
}
* {
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
}
button {
    float: right;
    border: none;
    background-color: rgb(0, 124, 249);
    padding: 5px;
    margin: 10px;
    color: white;
    filter: brightness(100%);
    transition: 0.1s;
    border-radius: 3px;
    font-size: 20px;
    height: 40px;
    min-width: 150px;
}
button:hover {
    background-color: rgb(0, 145, 249);
    filter: brightness(120%);
    transition: 0.1s;
}
button[red] {
    background-color: rgb(191, 0, 0);
}
button[black] {
    background-color: rgb(0, 0, 0);
}
button[error] {
    position: absolute;
    bottom: 0;
    right: 0;
}
h1, p {
    margin: 10px;
}

/* ERROR */
#errorContainer {
    z-index: 300;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background-color: rgba(0, 0, 0, 0.813);
}
.error {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: white;
    min-width: 420px;
    max-width: 420px;
    overflow-wrap: break-word;
    min-height: 300px;
    border-radius: 10px;
    -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}
.errorBtn {
    background-color: rgb(188, 1, 1);
    height: 50px;
    width: 190px;
    border: none;
    border-radius: 5px;
    color: white;
    float: right;
    margin: 15px;
    bottom: 0;
    position: fixed;
    transition: 0.2s;
}
#errorcontent {
    margin-bottom: 60px;
}
.errorBtn:hover {
    background-color: red;
    transition: 0.2s;
}
h1 {
    font-size: 30px;
}
.objects {
    width: 510px;
    height: 266px;
    background-color: white;
    float: left;
    border-radius: 15px;
    margin: 10px;
}
::-webkit-scrollbar {
    width: 15px;
  }
::-webkit-scrollbar-track {
    background: transparent;
  }
  
::-webkit-scrollbar-thumb {
    background-image: linear-gradient(180deg, #0a6eda 0%, #1647cc 99%);
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
    border-radius: 100px;
    filter: brightness(100%);
    transition: 0.3s;
}
::-webkit-scrollbar-thumb:hover {
    filter: brightness(120%);
    transition: 0.3s;
}
#console {
    display: none;
    width: 600px;
    height: 300px;
    position:fixed;
    background-color: rgb(0, 0, 0);
    z-index: 10;
    -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    border-radius: 10px;
    top: 50%;
    left: 50%;
}
#console .nav {
    width: 100%;
    height: 50px;
    background-color: rgb(30, 30, 30);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
#console .nav h2 {
    text-align: center;
    line-height: 50px;
    color: white;
}
#consolecontent {
    height: 190px;
    width: 95%;
    color: white;
    padding: 10px;
    overflow: auto;
    font-size: 20px;
}
#consolecontent color {
    height: min-content;
}
input[console] {
    width: 95%;
    text-align: left;
}
.scratch {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#showConsole-btn {
    bottom: 0; right: 0; position:relative;
}